<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head.html :: head"></th:block>
    <title>Title</title>
    <style>
        #loginForm{ width:400px; margin:auto;}
        #loginForm h1{ text-align:center; font-weight:bold; margin-top:40px; }
        #loginForm #loginHelp{ display:none; }
    </style>
</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>
<div class="container">

    <form id="loginForm" class="needs-validation"  method="post" action="/login">
        <h1>로그인</h1><br>

        <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-4" id="email" name="email">
            <label for="email">이메일</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-4" id="password" name="password">
            <label for="password">비밀번호</label>
        </div>

        <div id="loginHelp" class="mb-3">확인주세요</div>

        <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="button" onClick="loginSubmit()">로그인</button>
        <div class="text-center mt-2">
            <a class="link-secondary me-2" href="/findPassword">비밀번호 찾기</a>
            <a class="link-secondary"      href="/register">회원가입</a>
        </div>

        <hr class="my-4">
        <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
        <button class="w-100 py-2 mb-2 btn btn-outline-warning rounded-4" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"/></svg>
            Sign up with Kakao
        </button>
        <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4" type="submit">
            <i class="fab fa-facebook"></i>
            Sign up with Facebook
        </button>
        <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-4" type="submit">
            <i class="fab fa-github"></i>
            Sign up with GitHub
        </button>
    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="../js/member/login.js"></script>
</body>
</html>