<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.hello.usedbook.repository.PostRepository">
    <select id="findAll" resultType="Post" parameterType="team.hello.usedbook.domain.dto.Pagination">
        select * from post
        <where>
            <!-- category에 값이 없어서 and title로 시작하게되어도 where문이 and를 where로 교체해준다! prefix=where과 같음. -->
            <if test="category != null"> category = #{category} </if>
            <if test="srange == 1">and title like '%${stext}%' </if>
            <if test="srange == 2">and writer like '%${stext}%' </if>
            <if test="srange == 3">and content like '%${stext}%' </if>
            <if test="srange == 4">and title like '%${stext}%' or content like '%${stext}%' </if>
        </where>
        <trim prefix="ORDER BY" prefixOverrides=",">
            <if test="otext != 'createtime'"> ${otext} ${otype} </if>
            , createtime ${ctype}
        </trim>
        limit #{postLimit} offset #{postOffset}
    </select>
    <!--
    prefix : 맨 앞에 추가할 단어
    suffix : 맨 뒤에 추가할 단어
    prefixOverrides : 가장 처음 들어갈 sql문에서 삭제할 앞 글자
    suffixOverrides : 가장 뒤에 들어갈 sql문에서 삭제할 뒷 글자
    -->

    <select id="findAllCount" resultType="int" parameterType="team.hello.usedbook.domain.dto.Pagination">
        select count(*) from post
        <where>
            <if test="category != null"> category = #{category} </if>
            <if test="srange == 1">and title like '%${stext}%' </if>
        </where>
    </select>

    <select id="findAllForDashboard" resultType="Post" parameterType="map">
        select * from post
        where writer=#{loginMember.nickname}
        <trim prefix="ORDER BY" prefixOverrides=",">
            <if test="pagination.otext != 'createtime'"> ${pagination.otext} ${pagination.otype} </if>
            , createtime ${pagination.ctype}
        </trim>
        limit #{pagination.postLimit} offset #{pagination.postOffset}
    </select>
</mapper>
