.swiper{ width:100%; height:100%; }


.card-slider{ height:100% }
.card-slider .swiper .swiper-wrapper .swiper-slide{
    background-color:white;
    border-radius:0.5em;
    border:1px solid #b9b9b9;
    overflow:hidden;
}
.card-slider .swiper .swiper-wrapper .swiper-slide img{
    width:100%; height:65%; object-fit:cover;
}
.card-slider .swiper .swiper-wrapper .swiper-slide .card-body{
    width:100%; height:35%;
}



.thumb-slider{ height:100% }
.thumb-slider .swiper .swiper-wrapper .swiper-slide{
    background-color:black;
    border-radius:0.3em;
    border:1px solid #b9b9b9;
    overflow:hidden;
}
.thumb-slider .swiper .swiper-wrapper .swiper-slide img{ width:100%; height:100% }

.thumb-slider .swiper.thumb-top{ height:75% }
.thumb-slider .swiper.thumb-bottom{ height:25% }

.thumb-slider .swiper.thumb-top .swiper-wrapper .swiper-slide img { object-fit:contain; }
.thumb-slider .swiper.thumb-bottom .swiper-wrapper .swiper-slide img { object-fit:cover; }

